<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.BoardMapper">
<!-- MVC 모델에서 DAO - SQL 쿼리 작성부. sql=~~~, stmt.execute~~~ 모두 포함. -->
	<select id="selectBoardList" parameterType="com.gd.sakila.vo.Page" resultType="com.gd.sakila.vo.Board">
		SELECT board_id boardId, board_title boardTitle, insert_date insertDate FROM board
		<where>
			<if test="searchWord != null">
				board_title LIKE CONCAT('%',#{searchWord} ,'%')
			</if>
		</where>
		ORDER BY board_id DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- mybatis에서 if문으로 분기시키는 방법 -->
	<select id="selectBoardTotal" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM board 
		<where>
			<if test="searchWord != null">
				board_title LIKE CONCAT('%',#{searchWord} ,'%')
			</if>
		</where>
	</select>
	
	<!-- select는 무조건 반환타입이 List이고 resultType 안에는 제네릭(<> 안에 들어가는거)타입을 기재.-->
	<select id="selectBoardOne" parameterType="Integer" resultType="java.util.Map">
		SELECT b.board_id boardId, b.board_title boardTitle, b.board_content boardContent, b.insert_date insertDate, s.username username FROM board b INNER JOIN staff s ON b.staff_id=s.staff_id WHERE board_id=#{boardId}
	</select>
	
	<!-- paramType은 매개변수 타입, resultType은 반환 타입 -->
	<insert id="insertBoard" parameterType="com.gd.sakila.vo.Board">
		<!-- 인서트 실행 시 셀렉트를 실행한다. resulttype은 integer, boardId에 값을 넣는다, 언제? 이후에 -->
		<selectKey resultType="Integer" keyProperty="boardId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board(board_pw, board_title, board_content, insert_date, staff_id) VALUES (PASSWORD(#{boardPw}), #{boardTitle}, #{boardContent}, NOW(), #{staffId})
	</insert>
	
	<delete id="deleteBoard" parameterType="com.gd.sakila.vo.Board">
		DELETE FROM board WHERE board_id = #{boardId} AND board_pw=PASSWORD(#{boardPw})
	</delete>
	
	<update id="updateBoard" parameterType="com.gd.sakila.vo.Board">
		UPDATE board SET board_title=#{boardTitle}, board_content=#{boardContent} WHERE board_id=#{boardId} AND board_pw=PASSWORD(#{boardPw})
	</update>
</mapper>