<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CommentMapper">
	<select id="selectCommentListByBoard" parameterType="Integer" resultType="com.gd.sakila.vo.Comment">
		SELECT comment_id commentId, comment_content commentContent, username username, insert_date insertDate FROM comment WHERE board_id=#{boardId} ORDER BY insert_date DESC
	</select>
	<!-- 로그인 폼이 없어서 유저네임을 받아 올 수가 없음.... commentId만 받아서 지우는걸로 우선 구현해보기. -->
	<delete id="deleteCommentByBoard" parameterType="Integer" >
		DELETE from comment WHERE comment_id=#{commentId}
	</delete>
</mapper>