<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CustomerMapper">
	<update id="updateCustomerActiveByScheduler">
		UPDATE customer c, (SELECT customer_id, MAX(rental_date), DATEDIFF(NOW(), MAX(rental_date)) FROM rental GROUP BY customer_id HAVING DATEDIFF(NOW(), MAX(rental_date)) > 365) A SET c.active = 0 WHERE c.customer_id = A.customer_id
	</update>
	
	<!-- 고객 리스트  -->
	<select id="selectCustomerList" parameterType="java.util.Map" resultType="com.gd.sakila.vo.Customer">
		SELECT customer_id customerId, store_id storeId, first_name firstName, last_name lastName , email, active FROM customer
		<where>
			<if test="searchWord!=null">
				AND CONCAT(first_name, last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="storeId!=0">
				AND store_id=#{storeId}
			</if>
			<if test="active!=2">
				AND active=#{active}
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<!-- 전체 고객 수 -->
	<select id="selectCustomerTotal" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM customer
		<where>
			<if test="searchWord!=null">
				AND CONCAT(first_name, last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="storeId!=0">
				AND store_id=#{storeId}
			</if>
			<if test="active!=2">
				AND active=#{active}
			</if>
		</where>
	</select>
	<!-- 고객 상세 페이지 -->
	<select id="selectCustomerOne" parameterType="int" resultType="java.util.Map">
		SELECT cl.ID customerId, cl.NAME name, cl.address address, cl.`zip code` zipCode, cl.phone phone, cl.city city, cl.country country, cl.notes notes, cl.SID storeId, c.email email, 
		c.create_date createDate, c.last_update lastUpdate FROM customer_list cl 
		JOIN customer c ON cl.ID=c.customer_id WHERE cl.ID=#{customerId}
	</select>
	<!-- 고객 블랙리스트 -->
	<select id="selectBalckConsumer" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM (SELECT r.customer_id customerId, i.inventory_id, i.film_id, r.rental_date, r.return_date,
			DATEDIFF(r.return_date, r.rental_date) DAY,
			if(DATEDIFF(r.return_date, r.rental_date) IS NULL, '대여중',
			if(DATEDIFF(r.return_date, r.rental_date) > f.rental_duration, '연체', '정상반납')) state, f.rental_duration
		FROM inventory i
		JOIN film f ON i.film_id = f.film_id
		JOIN rental r ON r.inventory_id = i.inventory_id) e 
		WHERE e.state='연체' AND e.customerId=#{customerId}
	</select>
</mapper>