<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.InventoryMapper">
	<select id="selectInventoryInfoList" parameterType="com.gd.sakila.vo.Page" resultType="java.util.Map">
		SELECT i.film_id filmId, f.title title, i.store_id storeId, COUNT(*) total FROM inventory i LEFT JOIN film f 
		ON i.film_id = f.film_id GROUP BY i.film_id, i.store_id
		<where>
		<if test="searchWord!=null">
			title LIKE CONCAT('%', #{searchWord}, '%')
		</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="selectInventoryTotal" resultType="int">
		SELECT i.film_id, COUNT(*) '총량' FROM inventory i LEFT JOIN film f ON i.film_id = f.film_id GROUP BY i.film_id, i.store_id
	</select>
	<select id="selectInventoryStockCnt" parameterType="java.util.Map" resultType="Integer">
	SELECT COUNT(*) cnt FROM inventory WHERE film_id = #{filmId}
     AND store_id = #{storeId} AND inventory_in_stock(inventory_id) 
	</select>
	<select id="selectInventory" parameterType="java.util.Map" resultType="Integer">
	SELECT inventory_id inventoryId FROM inventory WHERE film_id = #{filmId}
     AND store_id = #{storeId}
     AND inventory_in_stock(inventory_id) 
	</select>
</mapper>